.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  color: #f2f2f2;

}
.container {
  max-width: 1000px;
  margin: 1em auto;
  font-size: 1.2rem;
  line-height: 2rem;
}
